@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

body {
    background-color: #8aac0f;
}

header {
    background-color: #0f3811;
    margin-bottom: 0px;
    width: 100%;
   
    position: relative;
    z-index: 3;
}

.index {position: relative;
z-index: 4;}

#fourofour {
   
        position: absolute;
        background-color: black;
        top: 0;
       width: 100%;
       height: 100%;
        z-index: 999;
        background-color: rgb(15, 1, 1);
        color: #70af6d;
        font-size: 1.5rem;
        text-align: center;
      
    }

#fourofour p{margin-top: 1.5rem;
    margin-bottom: 6rem;
    font-size: 4rem;
   
}

#fourofour-button {
        font-size: 2rem;
        padding: 1rem;
     
        height: fit-content;
        margin-top: 7rem;
        background-color: rgb(15, 1, 1);
        color: #70af6d;
        border: 0.4rem ridge #306230;
      
      width: fit-content;
        
}

#fourofour-button:hover {
    background-color: rgba(37, 63, 39, 0.377);
    
}




#intro {
    position: absolute;
    background-color: black;
    top: 0;
   width: 100%;
   height: 200%;
    z-index: 999;
    background-color: rgb(15, 1, 1);
    line-height: 150%;
    color: #70af6d;
    font-size: normal;
    text-align: center;
  
    
}

#intro-text {font-size: 15px;
    
    letter-spacing: .15em;
    margin: 0 auto;
    white-space: normal;
    overflow: hidden;
    animation:
     typing 1.5s steps(100, start);}

#keyboardintro {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 60%
}

.introicon {
    width: 25px;
}

#intro-all-icons {
    margin-top: 2em;
 
    display: flex;
    justify-content: space-around;
}

.description  {
    margin: 0;
    font-size: smaller;
    
}

#intro-all-icons div {
    width: 50%;
}

#start {
    
        font-size: 2rem;
        padding: 1rem;
       
        height: fit-content;
        margin-top: 2rem;
        background-color: rgb(15, 1, 1);
        color: #70af6d;
        border: 0.4rem ridge #306230;
      
      width: 100%;
        
   
}
#start:hover {
    background-color: rgba(37, 63, 39, 0.377);
    
}

.clickbutton {
    
    object-fit: contain;
    width: fit-content;
       
   }

.allbuttons {
    position: absolute;
    bottom: 30%;
    margin-left: 10%;
    display: flex;
   

}
.icon {
    object-fit: contain;
    width: 60%;
    text-align: center;
 
  background-color: rgba(241, 224, 224, 0);
  padding: 2px;
  border: 4px ridge rgba(0, 0, 0, 0.342);

}



.buttontext {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
   width: fit-content;
    font-size: 1em;
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    
}

.header-element {
    background-color: rgba(15, 1, 1, 0.308);
    padding: 0 0.3em 0 0.3em;
    border: 10px ridge rgba(28, 29, 28, 0.342);
    border-radius: 0.2em;
    width: fit-content;
    color: rgb(195, 221, 149);
    font-weight: bold;
    margin-top: 0.5%;
    display: inline-block;
  flex-direction: row;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    justify-content: center;
    font-size: 6vw;
    
}
.score {margin-left: 5%;
   width: fit-content;
}
.time {
    position: absolute;
    left: 20%;
   margin-left: 55%;
}
.background {
    margin-top: 0px;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    position: absolute;
    object-fit: fill;
    z-index: 2;
    margin-top: -2px;
  
}



#final-score {
    position: absolute;
    background-color: black;
    top: 0;
   width: 100vw;
   height: 100vh;
    
    
    z-index: 99;
    background-color: rgb(15, 1, 1);
    line-height: 150%;
    color: #70af6d;
    font-size: xx-large;
    text-align: center;
    display: none;
}

#retry {
    font-size: 4rem;
    padding: 3rem;
    width: fit-content;
    height: fit-content;
   
    background-color: rgb(15, 1, 1);
    color: #70af6d;
    border: 0.4rem ridge #306230;
}

#retry:hover {
    background-color: rgba(37, 63, 39, 0.377);
    
}

#image {
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    transform: translate(0%,-18%);
    z-index: 2;
    margin-top: 0px;
    position: absolute;
}

#keyboard {
    width: 100%;
}




#keyboardimg {
    width: 100%;
    height: 20%;
   position: fixed;
   bottom: 0;
    z-index: 4;
    
}

@media screen and (min-width: 500px) {

    .icon {
        width: 50%;
    }
    #keyboardimg {
        width: 70%;
        
        margin-left: 15%;
    }
    .allbuttons {margin-left: 12%;}
}


@media screen and (min-width: 700px) {
  
    .icon {width: 25%;}
    .allbuttons {margin-left: 20%;}
    #keyboardimg {
        width: 60%;
        
        margin-left: 20%;
    }
    #keyboardintro {
        width: 40%;
    }

    #intro p {
        font-size: large;
    }
   
}


@media screen and (min-width: 800px) {
    
   
.icon {
    width: 15%;
}
    .allbuttons {
        position: absolute;
        bottom: 5%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }
    #intro p {
        font-size: larger;
    }
    .introicon {
        width: 4rem;
    }
}

@media screen and (max-height: 600px)  {
    #keyboardimg {
        width: 50%;
        
        margin-left: 15%;
    }
    .icon {width: 10%;}
    .allbuttons {margin-left: 15%;}

   
}

@media screen and (min-width: 1000px) {
    #keyboardimg {
        width: 40%;
        
        margin-left: 30%;
    }
    .icon {width: 20%;}
    #start {
        font-size: 4rem;
        margin-top: 1em;
        width: 100%;
    }
    #fourofour {
        font-size: 2.5rem;
    }

    #fourofour p{
        font-size: 7rem;
       
    }
    
    #fourofour-button {
        font-size: 5rem;
}
@media screen and (min-width: 1200px) {
    
    #final-score {
        font-size: 4rem;
    }
    .icon {width: 20%;}
    .clickbutton {
        margin-bottom: 1em;    
       }
       .header-element {
        font-size: 3vw;
       } 
       #intro p {
        font-size: x-large;
        line-height: 110%;
    }

    #keyboardintro {
        width: 30%;
    }
}

@media screen and (max-height: 600px) {
    #keyboardimg {
        width: 40%;
        
        margin-left: 30%;
    }
    .icon {width: 30%;}
    .allbuttons {
        position: absolute;
        bottom: 2%;
        margin: 6px;
        display: flex;
        flex-direction: column;

    }
    .clickbutton {width: 80px;}
    .buttontext {font-size: medium;}
}




@media screen and (min-width: 1800px) {
    #keyboardimg {
        width: 30%;
        height: 150px;
        margin-left: 35%;
    }
    #intro p {
        font-size:xx-large;
    }
 
  .time {
    margin-left: 55%;
  }

}




@media screen and (min-width: 2000px) {
    #keyboardimg {
        width: 30%;
        height: 200px;
        margin-left: 35%;
    }
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
